html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 910px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

h2, p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.image-backgroundy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.9;
}


.firstpassiony, .secondpassiony, .thirdpassiony {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  position: relative; 
  overflow: hidden;
}


.firstpassiony::before,
.secondpassiony::before,
.thirdpassiony::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("images_yann/Badge_adherent_Figure_Yakuro_1000x1000.png") center/40% no-repeat;
  opacity: 0.05;
  filter: grayscale(100%) brightness(1.2);
  z-index: 0;
}

.secondpassiony::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("images_yann/Badge_adherent_Figure_Yakuro_1000x1000.png") center/40% no-repeat;
  opacity: 0.05; 
  filter: grayscale(100%) brightness(1.2);
  z-index: 0;
}

.thirdpassiony::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("images_yann/Badge_adherent_Figure_Yakuro_1000x1000.png") center/40% no-repeat;
  opacity: 0.05; 
  filter: grayscale(100%) brightness(1.2);
  z-index: 0;
}


.firstpassiony > *,
.secondpassiony > *,
.thirdpassiony > * {
  position: relative;
  z-index: 1;
}



.secondpassiony .image-boxy {
  order: -1;
}

.image-boxy {
  position: relative;
  width: 480px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.image-boxy a {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
}


.image-boxy img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 1s ease, filter 1s ease;
}

.image-boxy:hover img {
  transform: scale(1.05);
  filter: blur(5px) brightness(0.7);
}