html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 910px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}