html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 910px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

h2, p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.image-backgroundy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.9;
}